@import 'mixins';
body {
    @include body;
}
h1{
    @include h1;
    margin-top: 0;
    margin-bottom: 3rem
}
h3{
    @include h3;
    margin-bottom: 3rem;
}
h4{
    @include h4;
}
p{
    @include p;
    padding-left: 1rem;
}
span{
    @include span;
}
//nav bar and footer
li{
    @include li;
    
}
a{
    @include a;
}

/////////////////////////////
header {
    @include header;
    border: .1rem solid $yellow;
    padding: .4rem;
    padding-right: 1rem;
    border-radius: 4rem;
}
.nav-logo {
    @include nav-logo;
}

section{
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-bottom: dashed $darkBlue .1rem;
}
.color-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 2rem;
    div{
        padding: 1rem;
        min-height: min-content;
        border-radius: 1rem;
    }
    #white{
        background-color: $bgYellow;
        border: solid .1rem $darkBlue;
    }
    #yellow{
        background-color: $yellow;
    }
    #navy {
        p, h4{
            color: $bgYellow;
        }
        
        background-color: $darkBlue;
    }
    #beige{
        background-color: #dfd6be;
    }
}

#default-button-section{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
#default-button{
    padding: 1rem;
    border-radius: 4rem;
    border: .1rem solid $darkBlue;
    &:hover{
        background-color: $yellow;
    }
}
.button-circle {
    margin-right: 2rem;
    display: inline-block;
    border: .1rem solid $darkBlue;
    border-radius: 50%;
    transition: background-color 0.3s;
    overflow: hidden;
    position: relative;
    width: 2rem;
    height: 2rem;
    &:hover{
        background-color: $yellow;
    }
    img{
        width: 2rem;
        height: 100%;
    }
    
}
#in-text-link a{
    text-decoration: underline;
    font-size: 1rem;
    font-style: normal;
    &:hover{
        color: $yellow;
    }
}
#in-text-link #button-circle{
    padding: 1rem;
}
input{
    width: 70%;
    padding: 1rem;
    border-radius: 2rem;
    border: solid $darkBlue .1rem;
    margin-bottom: .5rem;
    background-color: $bgYellow;
    transition: .5s;
    &:hover, &:focus{
        background-color: $yellow;
    }
}
#subject{
    margin: 0;
}
#message{
    margin: 0;
    padding-bottom: 4rem;
}
.type{
    padding: 3rem;
    border-radius: 2rem;
    border: solid .1rem $darkBlue;
    h3{
        color: $darkBlue;
    }
    p{
        padding-bottom: 1rem;
        border-bottom: dashed .1rem $darkBlue;
    }
}
// .nav-logo {
//     @include nav-logo;
// }
#navigation{
    display: grid;
    grid-template-columns: auto auto;
    ul{
        @include header;
    }
}

//drop down
.dropdown {
    @include dropdown;
}

.dropdown-content {
    @include dropdown-content;
}

.dropdown-content a {
    @include dropdown-content-a;
}

.dropdown-content a:hover, a:focus {
    @include dropdown-content-a-hover-focus;
}

.dropdown:hover .dropdown-content {
    @include dropdown-hover-dropdown-content;
}

code{
    padding: .3rem;
    border-radius: 1rem;
    background-color: #DFD6BE;
    margin-top: 5rem;
}

section a{
        text-decoration: underline;
    font-size: 1rem;
    padding-left: 0;
}